*{
  padding-top: 5px;
}

.taskContainer{
  position: relative;
}

.task{
  margin: 6px 0;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  transition: all 300ms;
}

.task:hover{
  cursor: pointer;
  background-color: var(--muted-border-color);
}

section{
  margin-bottom: 0;
}

.sectionTitle{
  margin-bottom: 0;
  text-align: center;
  text-transform: capitalize;
}

.hide{
  display: none;
}

/* Checkbox completed toggle class */
.completed{
  text-decoration: line-through;
}

/* ICONS (trash && plus)*/
.fa-trash{
  transition: all 300ms;
}

.fa-trash:hover{
  cursor: pointer;
  color: var(--primary-hover);
  filter: drop-shadow(0px 0px 5px var(--primary-hover));
}

.fa-plus{
  margin: .5rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 300ms;
}

.fa-plus:hover{
  cursor: pointer;
  transform: rotate(-180deg);
  color: var(--primary-hover);
  filter: drop-shadow(0px 0px 5px var(--primary-hover));
}

/* Theme toggler */
#theme{
  margin: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: rotate(-180deg);
  transition: all 300ms;
}

#theme:hover{
  cursor: pointer;
  transform: rotate(0);
}